Package: com.kanebuckthorpe.newdisplayevents
Name: New Display Events
Description: Useful Activator Display Change Events
Version: 0.0.9
Priority: optional
Section: Addons (Activator)
Architecture: iphoneos-arm
Depends: mobilesubstrate, libactivator, com.kaneb.kbapplist, com.kaneb.kbpreferences
Maintainer: Kane Buckthorpe
Author: Kane Buckthorpe
